repos:
  - repo: local
    hooks:
      - id: pytest
        name: pytest
        entry: uv run pytest
        language: system
        pass_filenames: false
        stages: [pre-push]
      - id: ty-check
        name: ty check
        entry: uv run ty check
        language: system
        pass_filenames: false
        stages: [pre-push]
      - id: ruff-format-check
        name: ruff format --check
        entry: uv run ruff format --check
        language: system
        pass_filenames: false
        stages: [pre-push]
      - id: ruff-check
        name: ruff check
        entry: uv run ruff check
        language: system
        pass_filenames: false
        stages: [pre-push]
